/* @import "styles/modules-left.css"; */
/* @import "styles/modules-center.css"; */
/* @import "styles/modules-right.css"; */
@import "theme.css";
@import "accent.css";

* {
  font-family: "0xProto Nerd Font";
  font-weight: bold;
  font-size: 15px;
  color: @main-fg;
  padding: 1px 0;
}

/* main outline */

window#waybar {
  background-color: transparent;
}

/* main background */

window#waybar>box {
  margin: 5px;
  margin-bottom: 0px;
  /* background-color: @kanagawabg; */
}


/* states */

.deactivated,
.paused,
#pulseaudio.output.muted,
#pulseaudio.input.source-muted,
#wireplumber.muted {
  color: @hover-fg;
}

.warning {
  color: @warning;
}

.critical {
  color: @critical;
}

.charging {
  color: @charging;
}


/* buttons */

button {
  border-radius: 16px;
  padding: 0 10px;
}

button:hover {
  background-color: @hover-bg;
  color: @hover-fg;
}

tooltip, #power-profile-daemon, #workspaces, #window, #custom-accent, #memory, #clock, #mpris, #pulseaudio, #idle_inhibitor, #battery, #tray {
  background-color: @kanagawabg;
}
/* tooltips */

tooltip {
  border: 2px solid @accent;
  /* border-radius: 10px; */
  background-color: @kanagawabg;
}

tooltip label {
  margin: 2px 4px;
  font-weight: normal;
}

tooltip decoration {
  border: none;
  background-color: transparent;
}

#power-profiles-daemon.performance {
  color: #f38ba8;
}

#power-profiles-daemon.balanced {
  color: #cba6f7;
}

#power-profiles-daemon.power-saver {
  color: #a6e3a1;
}

#workspaces label{
  font-size: 10px;
}

#workspaces {
  border-radius: 4px 0 0 4px;
}

#window {
  padding-right: 10px;
  border-radius: 0 4px 4px 0;
}

#workspaces .active label{
  color: @accent;
font-size: 12px;
}

#custom-notification {
  font-size: 22px;
}

#custom-accent {
  margin-right: 14px;
  margin-left: 5px;
  font-size: 16px;
}

#power-profiles-daemon {
  font-size: 18px;
}

#mpris {
  font-size: 10px;
  font-family: "NDOT 45 (inspired by NOTHING)";
}

#custom-menu-tray {
  font-size: 22px;
  margin-left: 10px;
  color: @accent;
  margin-right: 5px;
}

#memory {
  border-radius: 4px 0 0 4px;
}

#mpris {
  padding: 10px;
  border-radius: 0 4px 4px 0;
}

#mpris:hover, #clock:hover, #pulseaudio:hover {
  color: @accent;
}

#clock {
  border-radius: 4px 0 0 4px;
}

r {
  color: @accent;
}

#tray {
  border-radius: 0 4px 4px 0;
  padding-right: 5px;
}
