@import "accent.rasi"
@import "shared.rasi"

configuration {
    modi:                    "drun";
    show-icons:              true;
    drun-display-format:     "{name}";
    display-drun:              "";
    case-sensitive:          false;
}

window {
    enabled:                 true;
    fullscreen:              false;
    width:                   100%;
    transparency:            "real";
    cursor:                  "default";
    spacing:                 0px;
    padding:                 0px;
    border:                  0px;
    border-radius:           0px;
    border-color:            transparent;
    background-color:        transparent;
}

mainbox {
    enabled:                 true;
    children:                [ "inputbar", "listview" ]; 
    background-color:        @background;
    width: 50%;
    horizontal-align: 0.5;
}

inputbar {
    enabled:                 true;
    background-color:        @background; 
    spacing:                 0px;
    padding:                 20px 600px;
    border:                  0px;
    children:                [ "prompt", "entry" ];
    horizontal-align: 0.5;
}

prompt {
    enabled:                 false;
    background-color:        transparent;
    text-color:              transparent;
    padding:                 0px 5px 0px 0px;
    margin:                  0px;
}

entry {
    enabled:                 true;
    background-color:        @accent;
    text-color:              @background;
    border-radius: 20px;
    padding:                 10px 0;
    margin:                  0px;
    font:                    "JetBrains Mono Nerd Font 14";
    horizontal-align: 0.5;
}

listview {
    enabled:                 true;
    columns:                 6;
    lines:                   2;
    spacing:                 30px;
    padding:                 20px 30px;
    cycle:                   true;
    dynamic:                 false;
    scrollbar:               false;
    layout:                  vertical;
    reverse:                 false;
    fixed-height:            true;
    fixed-columns:           true;
    cursor:                  "default";
    background-color:        transparent;
    text-color:              @foreground;
}

element {
    enabled:                 true;
    orientation:             vertical;
    spacing:                 0px;
    padding:                 3px;
    border-radius:           20px;
    cursor:                  pointer;
    background-color:        transparent;
    text-color:              @foreground;
}

@media(max-aspect-ratio: 1.8) {
    element {
        orientation:         vertical;
    }
}

element-icon {
    size:                    25%;
    border-radius:           20px;
    cursor:                  inherit;
    background-color:        transparent;
    text-color:              inherit;
}

element-text {
    vertical-align:          0.5;
    horizontal-align:        0.5;
    padding:                 10px 0px 8px 0px;
    cursor:                  inherit;
    background-color:        transparent;
    text-color:              inherit;
}
element selected.normal {
    text-color:              @background;
    background-color:        @accent;
}


